html{
    font-family:"Lucida Sans Unicode";
    font-size:14px;
}


.flexCol{
    display:flex;
    flex-direction:column;
}
.flexRow{
    display:flex;
    flex-direction:row;
    gap:50px;
    flex-wrap:wrap;
}
.main{
    width:70vw;
    margin-left:auto;
    margin-right:auto;
}
.customer{

}
h1{
text-align:center;
}

.consumprow{
    margin:0 0 10px 0;
}
.consumption{
    width:70px;
    cursor:pointer;
}
.highest{

}

#upload{
    display:inline;
    width:200px;
    text-align:center;
}

.btn{
    color:black;
    text-decoration:none;
    background-color:lightgrey;
    border-radius:10px;
    padding:5px 15px 5px 15px;
    font-weight:bold;
}
.hidden{
    display: none;
}

.win{
}

.corner{
    position:fixed;
    right:40px;
    bottom:40px;

}