<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'usage/style.css' %}">
    <script src="{% static 'usage/script.js' %}"></script>
</head>
<body>

<h1>Customer Consumption(£) by Rate, last quarter</h1>

<div id="upload">
<form  method="post" enctype="multipart/form-data">
    <span>Upload a spreadsheet -  </span>

    {% csrf_token %}
    {{form.as_table}}
    <input type="submit" value="Submit">
</form>
</div>






<div class="main flexRow">
{% for r in rates %}
<div class="rate">
    <h2>{{r.name}} <span class="rateprice"> - {{r.price_gbp_per_kwh}} £/kWh</span></h2>

    {% for c in r.readings %}
    <div class="consumprow flexRow">
        <div class="consumption" title="1st read: {{c.previous_reading}}
2nd read: {{c.kwh_reading}}">{{c.consumption}}</div>

        <div class="customer">
        {{c.customer.name}}<br>
        {{c.customer.address}}<br>
        {{c.customer.meter_number}}
        </div>


    </div>
    {% empty %}
    <div>
        No customers at this rate.
    </div>
    {% endfor %}

</div>
{% endfor %}



    <div class="highest hidden">
    <h2>Highest Consumption Customers</h2>
    <table>
    {% for w in winners %}
    <tr>
        <td>
            {{w.rate.name}}<br>
            {{w.consumption}}
        </td>

        <td  class="customer">
            {{w.customer.name}}<br>
            {{w.customer.address}}<br>
            {{w.customer.meter_number}}
        </td>
    </tr>
    {% endfor %}

    <tr>
        <td>
            Total Energy Cost: <br>
            {{highest_consumption_customer.total_consumption}}
        </td>

        <td  class="customer">
            {{highest_consumption_customer.name}}<br>
            {{highest_consumption_customer.address}}<br>
            {{highest_consumption_customer.meter_number}}
        </td>
    </tr>
    </table>
    </div>

</div>

{% if rates %}

<div class="corner">
<button class="win btn" onclick="showWinners()">Show Highest Consumers</button>
<button class="btn">
    <a class="btn" href="{% url 'clear' %}">
        Clear all data
    </a>
</button>
</div>

{% endif %}

</body>
</html>